<% layout("/layouts/boilerplate") -%>
    <div class="container mt-5 mb-5">
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="container mt-4 needs-validation"
            novalidate enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title"
                            value="<%=listing.title%>" name="listing[title]" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="file" class="form-control" id="image" value="<%=listing.image%>"
                            placeholder="Enter image URL" name="listing[image]" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" name="listing[description]"
                            required><%=listing.description%></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" placeholder="Enter price"
                            value="<%=listing.price%>" name="listing[price]" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" placeholder="Enter country"
                            value="<%=listing.country%>" name="listing[country]" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter location"
                            value="<%=listing.location%>" name="listing[location]" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <button type="submit" class="btn btn-success 
                    
                    
                    ">Submit</button>
                </div>
            </div>
        </form>
    </div>